
<div class="minheight">
  <div class="container">

    <%= link_to "Create a new trip", new_trip_path, class:"btn btn-success" %>
      <h3>Upcoming trips:</h3>

      <div class="container">
        <% @trips = @trips.sort_by {|obj| obj.start_date} %>
        <% @trips.each do |trip| %>
        <div class="message">
          <div class="message-name">
            <h1 class="days"><%= (trip.end_date - trip.start_date).to_i %></h1>
            <p class="days">days</p>
          </div>
           <%= link_to trip_path(trip) do %>
            <%= cl_image_tag trip.photo, height: 100, width: 200, crop: :fill %>
            <% end  %>
          <div class="message-body">
            <%= link_to trip_path(trip) do %>
            <h3 class="days"><%= trip.name  %></h3>
            <p class="days">from <%= trip.start_date %> to <%= trip.end_date %></p>
            <% end %>
          </div>
          <div>
            <%= image_tag "collaborators.png", height: 100 %>
          </div>
          <div class="message-status">
            <p class="status pending">Pending</p>
            <p class="price">Miles: <%= rand(500..1500) %></p>
          </div>
        </div>
        <% end %>
      </div>
  </div>
</div>


