
<div class="minheight">
  <h1>
  </h1>
  <div class="container">
    <div class="row">
      <div class="col-sm-11">
        <h3>Upcoming trips:</h3>
      </div>
      <div class="col-sm-1">
        <%= link_to new_trip_path do  %>
        <h1 class="fas fa-plus black-plus"></h1>
        <% end %>
      </div>
    </div>

    <div class="container">
      <% @trips = @trips.sort_by {|obj| obj.start_date} %>
      <% @trips.each do |trip| %>
      <div class="message">
        <div class="message-name">
          <h1 class="days"><%= (trip.end_date - trip.start_date).to_i %></h1>
          <p class="days">days</p>
        </div>
         <%= link_to trip_path(trip) do %>
          <%= cl_image_tag trip.photo, height: 100, width: 200, crop: :fill %>
          <% end  %>
        <div class="message-body">
          <%= link_to trip_path(trip) do %>
          <h3 class="days"><%= trip.name  %></h3>
          <p class="days">from <%= trip.start_date %> to <%= trip.end_date %></p>
          <% end %>
        </div>
        <div>
          <%= image_tag "collaborators.png", height: 100 %>
        </div>
        <div class="message-status">
          <p class="status pending">Upcoming</p>

          <p class="price">Miles: <%= rand(500..1500) %></p>
        </div>
      </div>
      <% end %>
    </div>

    <h1>
    </h1>


    <h3>Past trips:</h3>

    <div class="container">
      <div class="message">
        <div class="message-name">
          <h1 class="days">14</h1>
          <p class="days">days</p>
        </div>
         <%= image_tag "Greekpic.jpeg", height: 100, width: 200 %>
        <div class="message-body">
          <h3 class="days">Summer in Greece</h3>
          <p class="days">from 2017-08-05 to 2017-08-19</p>
        </div>
        <div>
          <%= image_tag "collaborators2.png", height: 100 %>
        </div>
        <div class="message-status">
          <p class="status declined">Finished</p>
          <p class="price">Milles: <%= rand(500..1500) %></p>
        </div>
      </div>
    </div>
  </div>
</div>


