<% content_for :meta_title, "Your Trips" %>
<div class="minheight">
  <div class="container">
    <div class="flex-right">
      <button type="button" class="btn btn-success">
        <%= link_to new_trip_path do  %>
          <p style="text-decoration: none">Add a new trip!</p>
        <% end %>
      </button>
    </div>
  </div>

<div class="container">
    <div class="upcoming-trips">
      <% if @current_trips == [] %>
      <% else %>
      <h3>Upcoming trips</h3>
        <% @current_trips.each do |trip| %>
        <div class="tripcard-desktop">
          <div class="detail-countdown-holder">
              <%= link_to " ", trip_path(trip), class: "btn btn-primary-outline trip-card-links"%>
            <div class="details" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path trip.photo %>');">
              <h4><%= trip.name %></h4>
              <p><%= trip.start_date.strftime("%B %e") %> - <%= trip.end_date.strftime("%B %e") %></p>
              <p>Trip length: <%= (trip.end_date - trip.start_date).to_i + 1 %> days</p>
            </div>
            <div class="countdown">
              <%= link_to " ", trip_path(trip), class: "btn btn-primary-outline trip-card-links"%>
              <% if ( Date.today <=> trip.start_date) == -1 %>
                <p style= "color: #0D3B66"><%= (trip.start_date - Date.today).to_i %> days to go!</p>
              <% else %>
                <p style = "color: green">Active Trip</p>
              <% end %>
            </div>
          </div>
          <div class="travellers">
            <% trip.trip_users.each do |user| %>
              <%= cl_image_tag user.user.photo, class: "avatar-bordered" %>
            <% end %>
          <i class="fas fa-plus-circle fa-3x btn" data-toggle="modal" data-target="#addfriend<%trip.id%>"></i>
          <div id="addfriend<%trip.id%>" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Add a friend to this trip</h4>
                </div>
                <div class="modal-body">
                  <%= simple_form_for :add_friend, url: trip_user_add_path(trip) do |f| %>
                    <%= f.input :email  %>
                    <%= f.submit %>
                  <% end %>
                </div>
                <div class="modal-footer">
                  <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button> -->
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

    <div class="container">
      <div class="upcoming-trips-mobile">
        <h3>Upcoming Trips</h3>
        <% @current_trips.each do |trip|%>
          <div class="row">
              <div class ="col-sm-12 col-md-4">
                <div class="tripcard">
                  <div class="details" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path trip.photo %>');">
                    <%= link_to " ", trip_path(trip), class: "btn btn-primary-outline card-links"%>
                    <h4><%= trip.name %></h4>
                    <p><%= trip.start_date.strftime("%B %e") %> - <%= trip.end_date.strftime("%B %e") %></p>
                    <p>Trip length: <%= (trip.end_date - trip.start_date).to_i + 1%> days</p>
                    <div class="countdown">
                      <% if ( Date.today <=> trip.start_date) == -1 %>
                          <p><%= (trip.start_date - Date.today).to_i %> days to go!</p>
                        <% else %>
                          <p>Active Trip</p>
                        <% end %>
                    </div>
                  </div>

                  <div class="travellers">
                    <% trip.trip_users.each do |user| %>
                      <%= cl_image_tag user.user.photo, class: "avatar-bordered" %>
                    <% end %>
                    <i class="fas fa-plus-circle fa-3x btn" data-toggle="modal" data-target="#mobileaddfriend<%trip.id%>"></i>
                <div id="mobileaddfriend<%trip.id%>" class="modal fade" role="dialog">
                  <div class="modal-dialog modal-sm">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add a friend to this trip</h4>
                      </div>
                      <div class="modal-body">
                        <%= simple_form_for :add_friend, url: trip_user_add_path(trip) do |f| %>
                          <%= f.input :email  %>
                          <%= f.submit %>
                        <% end %>

                      </div>
                      <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button> -->
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>

    <div class="container">
      <div class="past-trips">
        <h3>Past Trips</h3>
        <% if @past_trips == [] %>
        <% else @past_trips.each do |trip|%>
          <div class="tripcard-desktop">
            <div class="detail-countdown-holder">
              <div class="details" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path trip.photo, crop: :fill %>');">
                <%= link_to " ", trip_path(trip), class: "btn btn-primary-outline trip-card-links"%>
                <h4><%= trip.name %></h4>
                <p><%= trip.start_date.strftime("%B %e") %> - <%= trip.end_date.strftime("%B %e") %></p>
                <p>Trip length: <%= (trip.end_date - trip.start_date).to_i + 1%> days</p>
              </div>
              <div class="countdown">
                 <%= link_to " ", trip_path(trip), class: "btn btn-primary-outline trip-card-links"%>
                <i class="far fa-check-circle fa-3x" style= "color: #A54657"></i>
              </div>
            </div>
            <div class="travellers">
              <% trip.trip_users.each do |user| %>
                <%= cl_image_tag user.user.photo, class: "avatar-bordered" %>
              <% end %>
              <i class="fas fa-plus-circle fa-3x btn" data-toggle="modal" data-target="#addfriend<%trip.id%>"></i>
              <div id="addfriend<%trip.id%>" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Add a friend to this trip</h4>
                    </div>
                    <div class="modal-body">
                      <%= simple_form_for :add_friend, url: trip_user_add_path(trip) do |f| %>
                        <%= f.input :email  %>
                        <%= f.submit %>
                      <% end %>
                    </div>
                    <div class="modal-footer">
                  <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="container">
      <div class="past-trips-mobile">
        <h3>Past Trips</h3>
        <%  @past_trips.each do |trip|%>
          <div class="row">
            <div class ="col-sm-12 col-md-4">
              <div class="tripcard">
                <div class="details" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path trip.photo, crop: :fill %>');">
                  <%= link_to " ", trip_path(trip), class: "btn btn-primary-outline card-links"%>
                  <h4><%= trip.name %></h4>
                  <p><%= trip.start_date.strftime("%B %e") %> - <%= trip.end_date.strftime("%B %e") %></p>
                  <p>Trip length: <%= (trip.end_date - trip.start_date).to_i + 1 %> days</p>
                  <div class="countdown">
                   <i class="far fa-check-circle fa-3x" style= "color: #A54657, border: 1px solid white"></i>
                  </div>
                </div>

                <div class="travellers">
                  <% trip.trip_users.each do |user| %>
                    <%= cl_image_tag user.user.photo, class: "avatar-bordered" %>
                  <% end %>
                  <i class="fas fa-plus-circle fa-3x btn" data-toggle="modal" data-target="#mobileaddfriend<%trip.id%>"></i>
                  <div id="mobileaddfriend<%trip.id%>" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-sm">

                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Add a friend to this trip</h4>
                        </div>
                        <div class="modal-body">
                          <%= simple_form_for :add_friend, url: trip_user_add_path(trip) do |f| %>
                            <%= f.input :email  %>
                            <%= f.submit %>
                          <% end %>

                        </div>
                        <div class="modal-footer">
                          <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button> -->

                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        <% end %>
        </div>
    </div>
    </div>
    <% end %>
  </div>
</div>

<% if params[:redirect_success] == "friend"  %>
  <%= javascript_pack_tag "sweet-alert-add-friend" %>
<% end %>


