<div class="minheight">
  <div class="container">
    <div class="banner banner-small" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.5) 0%, rgba(0,0,0,0.5) 50%), url(<%= @trip.photo %>)";>

      <div class="banner-content">
        <h1> <%= @trip.name %> </h1>
        <h2> from <%= @trip.start_date.strftime("%m/%d/%Y") %> </h2>
        <h2> to <%= @trip.end_date.strftime("%m/%d/%Y") %> </h2>

      </div>
    </div>
    <div class="row">
      <h1></h1>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4" style="text-align:center">
        <%= link_to "Add a journey", new_trip_journey_path(@trip), class:"btn btn-primary btn-fixed" %>
      </div>
      <div class="col-xs-12 col-md-4" style="text-align:center">
        <%= link_to "Add an accommodation", new_trip_accommodation_path(@trip), class:"btn btn-primary btn-fixed" %>
      </div>
      <div class="col-xs-12 col-md-4" style="text-align:center">
        <%= link_to "Add an activity", new_trip_activity_path(@trip), class:"btn btn-primary btn-fixed" %>
      </div>
    </div>
    <div class="row">
      <h1></h1>
    </div>

    <% milestones = [] %>

<!-- stores all the journeys, accommodations and activities in an empty array
 -->
    <% @trip.journeys.each do |journey| %>
      <% milestones << journey %>
    <% end %>
    <% @trip.accommodations.each do |accommodation| %>
      <% milestones << accommodation %>
    <% end %>
    <% @trip.activities.each do |activity| %>
      <% milestones << activity %>
    <% end %>

    <!-- stores all the journeys, accommodations and activities by start time -->
    <% milestones.sort_by! {|obj| obj.start_time}  %>

    <!-- displays all the journeys, accommodations and activities as links sorted by start time -->
    <ol>

    <div class="row">
      <% milestones.each do |milestone| %>
        <div class="col-xs-offset-4 col-xs-4">

          <div class="card">

                <% if milestone.class == Journey %>
                  <%= link_to "",trip_journey_path(milestone), class: "card-link"%>
                <% elsif milestone.class == Accommodation %>
                  <%= link_to "",trip_accommodation_path(milestone), class: "card-link"%>
                <% else %>
                  <%= link_to "",trip_activity_path(milestone), class: "card-link"%>
                <% end %>

            <div class="card-image">
              <% if milestone.class == Activity %>
                <%= image_tag milestone.photo %>
              <% else %>
                <%= image_tag "http://res.cloudinary.com/dn2idxe8p/image/upload/v1520610823/cartoontrain2.png" %>
              <% end %>
            </div>

            <div class="card-description">

              <div class="card-info">
                <h2><%= milestone.name %></h2>
                <p><%= milestone.start_time %></p>
                <p><%= milestone.end_time %></p>
                <% if milestone.class == Journey %>
                    <p>Departure Address: <%= milestone.departure_location %></p>
                    <p>Arrival Address: <%= milestone.arrival_location %></p>
                  <% else %>
                    <p>Address: <%= milestone.location %></p>
                  <% end %>
              </div>
              <%= image_tag "map.png", alt: "Get Directions", class: "card-map"%>

            </div>


          </div>
        </div>

      <% end %>
    </div>
    </ol>

    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
    ></div>
  </div>
</div>



