<div class="minheight">
  <div class="container">
    <h1><%= @trip.name %></h1>
    <h2><%= @trip.start_date %> - <%= @trip.end_date %></h2>
    <%= link_to "Add a journey", new_trip_journey_path(@trip) %>
    <%= link_to "Add an accommodation", new_trip_accommodation_path(@trip) %>
    <%= link_to "Add an activity", new_trip_activity_path(@trip) %>

    <ol>
      <% @trip.journeys.each do |journey| %>
          <%= link_to trip_journey_path(@trip, journey.id) do %>
        <li> <%= journey.departure_time %> - <%= journey.name %> </li>
        <% end %>
      <% end %>
    </ol>
    <ol>
      <% @trip.accommodations.each do |accommodation| %>
        <%= link_to trip_accommodation_path(@trip, accommodation.id) do %>
        <li> <%= accommodation.checkin %> - <%= accommodation.name %> </li>
        <% end %>
      <% end %>
    </ol>
    <ol>
      <% @trip.activities.each do |activity| %>
        <%= link_to trip_activity_path(@trip, activity.id) do %>
        <li> <%= activity.start_time %> - <%= activity.name %> </li>
        <% end %>
      <% end %>
    </ol>

    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
    ></div>
  </div>
</div>



