<div class="minheight">
  <div class="container">
    <h1><%= @trip.name %></h1>
    <h2><%= @trip.start_date %> - <%= @trip.end_date %></h2>
    <%= link_to "Add a journey", new_trip_journey_path(@trip) %>
    <%= link_to "Add an accommodation", new_trip_accommodation_path(@trip) %>
    <%= link_to "Add an activity", new_trip_activity_path(@trip) %>

    <% milestones = [] %>

    <% @trip.journeys.each do |journey| %>
      <% milestones << journey %>
    <% end %>
    <% @trip.accommodations.each do |accommodation| %>
      <% milestones << accommodation %>
    <% end %>
    <% @trip.activities.each do |activity| %>
      <% milestones << activity %>
    <% end %>

    <% milestones.sort_by! {|obj| obj.start_time}  %>


    <ol>
    <% milestones.each do |milestone| %>
      <% if milestone.class == Journey %>
        <%= link_to trip_journey_path(@trip, milestone.id) do %>
          <li> <%= milestone.start_time %> - <%= milestone.name %> </li>
        <% end %>
      <% elsif milestone.class == Accommodation %>
        <%= link_to trip_accommodation_path(@trip, milestone.id) do %>
          <li> <%= milestone.start_time %> - <%= milestone.name %> </li>
        <% end %>
      <% else  %>
        <%= link_to trip_activity_path(@trip, milestone.id) do %>
          <li> <%= milestone.start_time %> - <%= milestone.name %> </li>
        <% end %>
      <% end %>
    <% end %>
    </ol>




    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
    ></div>
  </div>
</div>



