<div class="minheight">
  <div class="container">
    <div class="banner banner-small" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.5) 0%, rgba(0,0,0,0.5) 50%), url(<%= @trip.photo %>)";>

      <div class="banner-content">
        <h1> <%= @trip.name %> </h1>
        <h2> from <%= @trip.start_date.strftime("%m/%d/%Y") %> </h2>
        <h2> to <%= @trip.end_date.strftime("%m/%d/%Y") %> </h2>

      </div>
    </div>
    <div class="row">
      <h1></h1>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4" style="text-align:center">
        <%= link_to "Add a journey", new_trip_journey_path(@trip), class:"btn btn-primary btn-fixed" %>
      </div>
      <div class="col-xs-12 col-md-4" style="text-align:center">
        <%= link_to "Add an accommodation", new_trip_accommodation_path(@trip), class:"btn btn-primary btn-fixed" %>
      </div>
      <div class="col-xs-12 col-md-4" style="text-align:center">
        <%= link_to "Add an activity", new_trip_activity_path(@trip), class:"btn btn-primary btn-fixed" %>
      </div>
    </div>
    <div class="row">
      <h1></h1>
    </div>

    <% milestones = [] %>

<!-- stores all the journeys, accommodations and activities in an empty array
 -->
    <% @trip.journeys.each do |journey| %>
      <% milestones << journey %>
    <% end %>
    <% @trip.accommodations.each do |accommodation| %>
      <% milestones << accommodation %>
    <% end %>
    <% @trip.activities.each do |activity| %>
      <% milestones << activity %>
    <% end %>

    <!-- stores all the journeys, accommodations and activities by start time -->
    <% milestones.sort_by! {|obj| obj.start_time}  %>

    <!-- displays all the journeys, accommodations and activities as links sorted by start time -->


    <div class="row">
      <% milestones.each do |milestone| %>
        <div class="col-xs-12 col-md-4">

          <div class="card">
            <div class="card-show">
             <% if milestone.class == Journey %>
                <%= link_to " ", trip_journey_path(@trip, milestone.id), class: "card-links"%>
              <% elsif milestone.class == Accommodation %>
                <%= link_to " ", trip_accommodation_path(@trip, milestone.id), class: "card-links"%>
              <% else %>
                <%= link_to " ",trip_activity_path(@trip, milestone.id), class: "card-links" %>
              <% end %>


              <div class="card-logo">
                <% if milestone.class == Journey %>
                  <%=  cl_image_tag("vhxymlwbyas92vn0xt3t.png")%>
                  <%= link_to "",trip_journey_path(@trip, milestone.id)%>
                <% elsif milestone.class == Accommodation %>
                  <%=  cl_image_tag("jfbccx4toxcer0qc4n63.png")%>
                  <%= link_to "",trip_accommodation_path(@trip, milestone.id)%>
                <% else %>
                  <%= cl_image_tag("mhahcepdqrlpexnwu7ve.png") %>
                  <%= link_to "",trip_activity_path(@trip, milestone.id)%>
                <% end %>
              </div>

              <div class="card-info">
                <h4><%= milestone.name %></h4>
                <p>Start-time: <%= milestone.start_time.strftime("%b %e, %l:%M %p") %></p>
                <p>End-time: <%= milestone.end_time.strftime("%b %e, %l:%M %p") %></p>
              </div>

            </div>
            <div class="map">
              <% if milestone.class == Journey %>
                <%= link_to "https://www.google.com/maps/dir/?api=1&destination=#{milestone.departure_location}", target: '_blank' do %>
                <%= cl_image_tag "http://res.cloudinary.com/dn2idxe8p/image/upload/v1520614150/map.png", class: "card-map" %>
                <% end  %>
              <% else %>
                <%= link_to "https://www.google.com/maps/dir/?api=1&destination=#{milestone.location}", target: '_blank' do %>
                  <%= cl_image_tag "http://res.cloudinary.com/dn2idxe8p/image/upload/v1520614150/map.png", class: "card-map" %>
                <% end  %>
              <% end  %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
    ></div>
  </div>
</div>



