
    <%= simple_form_for [@trip, @accommodation] do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :sub_category, prompt: "Select an accommodation type",collection: ['Hotel', 'Airbnb', 'Crashing with friends or family', 'Other (camping, N/A - sleeping is for loosers, etc.)'] %>
      </div>

      <div class="form-inputs">
        <%= f.input :name, placeholder: "@ Dave's place, Grand Hotel, etc." %>
        <%= f.input :location, input_html: {class: "autocompleter"} %>
        <%= f.input :start_time, as: :string, input_html: {class: "flatpicker"} %>
        <%= f.input :end_time, as: :string, input_html: {class: "flatpicker"} %>
        <%= f.input :comments %>
        <%= f.input :booking_documents, label: "Booking document" %>
        <%= f.input :booking_documents_cache, as: :hidden %>
      </div>

      <div class="form-actions text-center">
        <%= f.button :submit, class:"btn btn-success" %>
      </div>
    <% end %>

