<h5> <%= accommodation.name %></h5>
<ul style="list-style: none;">

  <li><strong>Accommodation Type: </strong><%= accommodation.sub_category %></li>
  <li><strong>Staying from: </strong><%= accommodation.start_time.strftime("%b %e, %l:%M %p") %></li>
  <li><strong>Staying until: </strong><%= accommodation.end_time.strftime("%b %e, %l:%M %p") %></li>
  <li><strong>Address: </strong><%= accommodation.location %></li>
  <li><%= link_to "Get directions", "https://www.google.com/maps/dir/?api=1&destination=#{accommodation.location}", target: '_blank' %></li>

</ul>
