<h5> <%= accommodation.name %></h5>
<ul style="list-style: none;">

  <li><strong>Accommodation Type: </strong><%= accommodation.sub_category %></li>
  <li><strong>Staying from: </strong><%= accommodation.checkin %></li>
  <li><strong>Staying until: </strong><%= accommodation.checkout %></li>
  <li><strong>Address: </strong><%= accommodation.location %></li>


</ul>
