<div class="minheight">
  <div class="container">
    <h1><%= @accommodation.name %></h1>

    <p> <%= @accommodation.sub_category %> <p>
    <p> <%= @accommodation.name == "" ? "" : "Name: " + @accommodation.name %> <p>
    <p> <%= @accommodation.location == "" ? "" : "Location: " + @accommodation.location %> <p>
    <p> <%= @accommodation.start_time == "" ? "" : "Check-in: " + @accommodation.start_time.strftime("%b %e, %l:%M %p") %> <p>
    <p> <%= @accommodation.end_time == "" ? "" : "Check-out: " + @accommodation.end_time.strftime("%b %e, %l:%M %p") %> <p>
    <p> <%= @accommodation.comments == "" ? "" : "Comments: " + @accommodation.comments %> <p>


    <%= link_to 'Download Documents', @accommodation.booking_documents.url, class: "btn btn-default btn-lg" %>

    <%= link_to "Edit", edit_trip_accommodation_path(@trip, @accommodation) %>
    <%= link_to "Delete", trip_accommodation_path(@trip, @accommodation),
          method: :delete,
          data: { confirm: "Are you sure?" } %>
    <%= link_to "Return to trip", trip_path(@trip) %>
  </div>
</div>
