<h5> <%= activity.name %></h5>
<ul style="list-style: none;">

  <li><strong>Activity Type: </strong><%= activity.sub_category %></li>
  <li><strong>Start time: </strong><%= activity.start_time %></li>
  <li><strong>End time: </strong><%= activity.end_time %></li>
  <li><strong>Address: </strong><%= activity.location %></li>


</ul>
