<div class="minheight">
  <div class="container">
    <h1><%= @activity.name %></h1>

    <p> <%= @activity.sub_category %> <p>
    <p> <%= @activity.name == "" ? "" : "Name: " + @activity.name %> <p>
    <p> <%= @activity.location == "" ? "" : "Location: " + @activity.location %> <p>
    <p> <%= @activity.start_time == "" ? "" : "Check-in: " + @activity.start_time.strftime("%b %e, %l:%M %p") %> <p>
    <p> <%= @activity.end_time == "" ? "" : "Check-out: " + @activity.end_time.strftime("%b %e, %l:%M %p") %> <p>
    <p> <%= @activity.comments == "" ? "" : "Comments: " + @activity.comments %> <p>

    <%= link_to 'Download Documents', @activity.photo.url, class: "btn btn-default btn-lg" %>

    <%= link_to "Edit", edit_trip_activity_path(@trip, @activity) %>
    <%= link_to "Delete", trip_activity_path(@trip, @activity),
          method: :delete,
          data: { confirm: "Are you sure?" } %>
    <%= link_to "Return to trip", trip_path(@trip) %>
  </div>
</div>



